{{ define "main" }}
    <main aria-role="main">
      <header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>
      <div>
        <ul>
        {{ range first 5 .Site.RegularPages }}
                  <li class="posts-list-item">
          
         {{ .Render "summary"}}
        </li>
        {{ end }}
        </ul>

      </div>
    </main>
{{ end }}
